@model PageListModel

@{
    var isAside = ViewData["Aside"] != null && (bool)ViewData["Aside"];
}

@Html.FullRefreshPropertiesMetaData(new[] { "IncludePublishDate", "IncludeIntroduction", "Count", "SortOrder", "Root", "PageTypeFilter", "CategoryFilter", "Recursive" })

<h2 epi-property="@Model.Heading">@Model.Heading</h2>

@foreach (var item in Model.ListResult.Items)
{
    if (isAside)
    {
        <div class="listResult @string.Join(" ", item.Category?.Select(x=>x.Name)?.GetThemeCssClassNames())">
            <h3><a href="@item.RelativePath" alt="@item.Name">@item.Name</a></h3>

            @if (Model.ShowPublishDate)
            {
                <p class="small date">@Html.DisplayFor(x => item.StartPublish)</p>
            }

            @if (Model.ShowIntroduction)
            {
                <p>@item.TeaserText</p>
            }
        </div>
    }
    else
    {
        <div class="archive-item @string.Join(" ", item.Category?.Select(x=>x.Name)?.GetThemeCssClassNames())">
            <a href="@item.RelativePath">
                <div class="row">
                    <div class="col-4">
                        @if (item.PageImage?.Url != null)
                        {
                            <img src="@Url.ContentUrl(item.PageImage.Url)" alt="@item.Name" />
                        }
                        else
                        {
                            <div class="placeholder"></div>
                        }
                    </div>
                    <div class="col-8 col-xl-6">
                        <h3>@(item.Name)</h3>
                        @if (Model.ShowPublishDate && item.StartPublish.HasValue)
                        {
                            <p class="small date">@Html.DisplayFor(x => item.StartPublish)</p>
                        }
                        @if (Model.ShowIntroduction)
                        {
                            <p>@(item.TeaserText ?? item.MetaDescription)</p>
                        }
                    </div>
                </div>
            </a>
        </div>
    }
}
