@model PageViewModel<ProductPage>

@{ Layout = "~/Views/Shared/Layouts/_TwoPlusOne.cshtml"; }

<div class="content">
    <h1 epi-property="@Model.CurrentPage.PageName">
        @Model.CurrentPage.PageName
    </h1>
    <p class="lead" epi-property="@Model.CurrentPage.MetaDescription">@Model.CurrentPage.MetaDescription</p>
    <div class="clearfix" epi-property="@Model.CurrentPage.MainBody" />
</div>

<div class="row" epi-property="@Model.CurrentPage.MainContentArea" />

@section RelatedContent
{
    <div epi-property="@Model.CurrentPage.PageImage" />

    <div class="block colorBox @string.Join(" ", @Model.CurrentPage.GetThemeCssClassNames())">
        <h2 accesskey="@Model.CurrentPage.PageName">@Model.CurrentPage.PageName</h2>
        <div epi-property="@Model.CurrentPage.UniqueSellingPoints" />
    </div>

    <div epi-property="@Model.CurrentPage.RelatedContentArea" />
}
